.usermessageinchat__container {
  margin: 15px 0;
}

.usermessageinchat__avatar_and_message_block {
  display: flex;
}

.usermessageinchat__avatar_and_name_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
}

.usermessageinchat__avatar_image > img {
  width: 100px;
}

.usermessageinchat__avatar_name {
  font-size: 22px;
  font-weight: 600;
}

.usermessageinchat__message {
  font-size: 20px;
  padding: 15px;
}

.usermessageinchat__timestamp {
  font-size: 18px;
  font-style: italic;
  text-align: end;
  padding-right: 15px;
}