.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.userchat__container {
  height: 50px;
  font-size: 26px;
  font-style: italic;
  line-height: 50px;
  text-align: center;
  border: 2px solid blueviolet;
  border-radius: 6px;
  margin: 20px 20px;
  transition: 0.3s;
  cursor: pointer;
}

.userchat__container:hover {
  background: rgb(138,43,226);
  background: linear-gradient(90deg, rgba(138,43,226,1) 0%, rgba(192,135,245,1) 27%, rgba(228,208,246,1) 100%);
  color: white;
}

.userchat__container:active {
  color: rgb(146, 59, 227);
}