.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.chat__container {
  margin-top: 100px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.chat__chats_group {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 80vh;
}

.chat__chats {
  flex-grow: 1;
}

 .chat__chats_buttons {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 20px 20px;
  font-size: 24px;
 }

.chat__messages_area {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid blueviolet;
  border-radius: 10px;
  background-color: rgb(247, 244, 250);
}

.chat__messages {
  flex-grow: 1;
}

.chat__messages_input_container {
  width: 100%;
}

.chat__messages_input {
  height: 30px;
  font-size: 23px;
  line-height: 23px;
  font-style: italic;
  width: 95%;
  margin: 0 20px;
  border-radius: 6px;
  height: 50px;
}

.chat__messages_input:hover {
  border-color: blueviolet;
}

.chat__messages_input:focus {
  border-color: blueviolet;
}

.chat__messages_buttons {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  margin: 40px 0 20px 0;
}

.chat__messages_buttons_clear, .chat__messages_buttons_send {
  width: 100px;
  text-align: center;
  border: 3px solid blueviolet;
  border-radius: 6px;
  transition: 0.2s;
}

.chat__messages_buttons_clear:hover, .chat__messages_buttons_send:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

.chat__messages_buttons_clear:active, .chat__messages_buttons_send:active {
  background-color: rgb(159, 88, 226);
}