@import ../../_variables
  
.descript
  position: relative
  min-height: 800px
  overflow: hidden
.advert
  @include primaryFont
  padding-top: 30px
  &__wrapper
    display: flex
    justify-content: space-between
  &__slider
    max-width: 500px
    width: 50%
    align-self: center
    img
      max-width: 500px
      display: block
      margin: 0 auto
      @include boxShadow($primaryColor)
  &__content
    width: 50%

.title
  font-family: $fontMedium
  font-size: $h3
  &__navigate
    font-size: $h4
    a
      text-decoration: none
      color: $darkColor
  &__text
    padding: 15px 0px

.content
  display: flex
  flex-direction: column
  width: 55%
  margin-right: 10px
  ul
    list-style: none
    padding: 20px
    border-radius: 5px
    box-shadow: rgba(5, 4, 4, 0.4) 0px 1px 4px 1px
  li
    padding: 10px
    p
      font-family: $fontBold
      margin-bottom: 5px
  button
    border: none
    box-shadow: none
    @include primaryFont
    font-size: 18px
    display: block
    border-radius: 10px
    border: 2px solid $primaryColor
    cursor: pointer
    margin: 0 auto
    width: 30%
    height: 72px
    &:hover
      background-color: $primaryColor
      color: white

.descript
  .content__user
    width: 70%
    align-self: center
    margin-left: 0
    &-wrapper
      display: flex
      align-items: center

// .swiper-slide
//   width: 300px
//   overflow: hidden