@font-face
  font-family: "Pacifico"
  src: url('./fonts/Pacifico-Regular.ttf')
@font-face
  font-family: "BuyanThin"
  src: url('./fonts/BuyanThin.ttf')
@font-face
  font-family: "BuyanRegular"
  src: url('./fonts/BuyanRegular.ttf')
@font-face
  font-family: "BuyanBold"
  src: url('./fonts/BuyanBold.ttf')

$logoFont: 'Pacifico', 'sans-serif'
$fontRegular: 'BuyanThin', 'sans-serif' 
$fontMedium: 'BuyanRegular', 'sans-serif'
$fontBold: 'BuyanBold', 'sans-serif'

$primaryColor: #586c91
$secondaryColor: #f8f8f8
$bgColor: #dfe7f2
$darkColor: #283347
$sloganColor: #8fa4c3
$iconColor: #8fa4c3

$h1: 60px
$h2: 50px
$h3: 28px
$h4: 20px
$h5: 16px
$h6: 14px

$icon1: 16px
$icon2: 22px
$icon3: 30px

@mixin primaryFont
  font-family: $fontMedium
  letter-spacing: 0.5px
@mixin titleFont
  font-family: $fontBold
  letter-spacing: 0.5px