@font-face
  font-family: "Pacifico"
  src: url('./fonts/Pacifico-Regular.ttf')
@font-face
  font-family: "Nexa-Regular"
  src: url('./fonts/Nexa-Regular.woff2')
@font-face
  font-family: "Nexa-Bold"
  src: url('./fonts/Nexa-Bold.woff2')
@font-face
  font-family: "Nexa-Heavy"
  src: url('./fonts/Nexa-Heavy.woff2')

$logoFont: 'Pacifico', 'sans-serif'
$fontRegular: 'Nexa-Regular', 'sans-serif' 
$fontMedium: 'Nexa-Bold', 'sans-serif'
$fontBold: 'Nexa-Heavy', 'sans-serif'

$primaryColor: #88746c
$secondaryColor: #f8f8f8
$bgColor: #f7e3d5
$darkColor: #5d4b44
$sloganColor: #f0d0b9
$iconColor: #c5a38c

$h1: 60px
$h2: 50px
$h3: 28px
$h4: 20px
$h5: 16px
$h6: 14px

$icon1: 16px
$icon2: 22px
$icon3: 30px