@import ./_variables.sass

html, *
  margin: 0
  box-sizing: border-box

body
  background-color: $secondaryColor
  margin: 0
  box-sizing: border-box

.container
  max-width: 1320px
  margin: 0 auto

.elem__shadow_border
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 1px
